/*header section*/
header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid black;
  height: 80px;
  background-color: white;
  top: 0;

}

.logo {
display: flex;
align-items: center;
flex-grow: 1;
padding-left: 30px;
}
.logo span {
  color: mediumaquamarine;
  margin-left: 10px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
  margin-right: 10px;
}

nav a {
  color: black;
}


/*content*/
.container {
  display: flex;
  width: 1232px;
  padding-top: 116px;
  justify-content: space-between;
}
.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

/*column-large*/

.column.large {
  width: 630px;


}


.lead-story {

}

/*column medium*/
.column.medium {
  width: 300px;

}

/*column small*/
.column.small {
  width: 240px;

}

.lead-story .image-content {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  width: 630px;
  margin-top: 0;
  font-size: 40px;
  text-align: left;
}

.image-content {
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  text-align: center;
}

.fall-canceled {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");

 }

 .pop-culture {
   background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
 }

 .cat-ceo {
   background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
margin-top: 150px;
 }

p {
  display: block;
}
#fbi {
margin-top: 2px;
}
.cookie img {
  width: 240px;
  height: 240px;
}

.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.story .text-content {
  height: 250px;

}

.stories {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.narrative {
  margin-top: 16px;
}
